<nav class="navbar navbar-light bg-light mb-0">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <div class="row">
            <div class="col">
        <img src="assets/images/logo.png" alt="" width="50" height="50">
    </div>
    <div class="col">
       <h6 style="color: chocolate;"> Dinas Pemberdayaan Perempuan, Perlindungan Anak <br>
        dan Kependudukan Provinsi Jawa Timur
    </h6>
    </div>
    </div>
      </a>
      <div>
      Selamat Datang, Detiaz
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 text-left" style="background-color: #0DCAF0; height: 250vh;">
        <div *ngIf="role=='admin'" class="col-12 btn btn-info m-1 mt-3 bi bi-pc-display-horizontal d-flex justify-content-start" type="button" routerLink="/pages">
          &nbsp; Dashboard
        </div>
        <div *ngIf="role=='user'" class="col-12 btn btn-info m-1 mt-3 bi bi-file-earmark-text d-flex justify-content-start" type="button" routerLink="/pages/report-list">
          &nbsp; Laporan
        </div>
        <div *ngIf="role=='admin'" class="col-12 btn btn-info m-1 bi bi-file-earmark-text d-flex justify-content-start" type="button" routerLink="/pages/report-list">
          &nbsp; Laporan
        </div>
        <div *ngIf="role=='user'" class="col-12 btn btn-info m-1 bi bi-person d-flex justify-content-start" type="button" routerLink="/pages/profile">
          &nbsp; Profile
        </div>
        <div *ngIf="role=='admin'" class="col-12 btn btn-info m-1 bi bi-clipboard-data d-flex justify-content-start" type="button" routerLink="/pages/case-list">
          &nbsp; Data Kasus
        </div>
        <div *ngIf="role=='admin'" class="col-12 btn btn-info m-1 bi bi-database-gear d-flex justify-content-start" type="button" routerLink="/pages/user-list">
          &nbsp; Data User
        </div>
        <div *ngIf="role=='admin'" class="col-12 btn btn-info m-1 bi bi-person-add d-flex justify-content-start" type="button" routerLink="/pages/employee-list">
          &nbsp; Data Pegawai
        </div>
        <div class="col-12 btn btn-info m-1  bi bi-question-circle d-flex justify-content-start" type="button" routerLink="/pages/help">
          &nbsp; Bantuan
        </div>
        <div class="col-12 btn btn-danger m-1 mt-5 bi bi-box-arrow-in-right" type="button" routerLink="/">
          Logout
        </div>
      </div>
      <div class="col-10">
  <router-outlet></router-outlet>
  </div>
    </div>
  </div>
  