<div style="background-image: url('assets/images/back.jpeg');
background-position: top; background-size: cover; background-repeat: no-repeat">
  <div class="container" >
    <div class="row align-items-center vh-100">
      <div class="col-5 mx-auto">
        <div class="card shadow border">
          <div class="card-body d-flex flex-column align-items-center">
            <div class="row mb-3">
              <div class="col">
                <img src="assets/images/logo-province.png" width="55" height="70">
              </div>
              <div class="col">
                <img src="assets/images/dp3ak.png" width="80" height="70">
              </div>
          </div>
          <h4>Daftar Akun</h4>
            <form>
              <div class="row">
                <div class="col">
              <div class="form-group">
                <label for="exampleInputfullname">Nama Lengkap</label>
                <input type="text" class="form-control" id="exampleInputfullname" aria-describedby="emailHelp" placeholder="John Doe ...">
              </div>
              <div class="form-group">
                <label for="exampleInputNIK">NIK</label>
                <input type="number" class="form-control" id="exampleInputNIK" aria-describedby="emailHelp" placeholder="NIK">
              </div>
              <div class="form-group">
                <label for="exampleInputPhoneNumber">Nomor Telephone</label>
                <input type="number" class="form-control" id="exampleInputPhoneNumber" aria-describedby="emailHelp" placeholder="Nomor Telephone">
              </div>
              <div class="form-group">
                <label for="exampleInputPhoneNumber">Email</label>
                <input type="email" class="form-control" id="exampleInputPhoneNumber" aria-describedby="emailHelp" placeholder="Email">
              </div>
              <div class="form-group">
                <label for="exampleInputPhoneNumber">Agama</label>
                <input type="text" class="form-control" id="exampleInputPhoneNumber" aria-describedby="emailHelp" placeholder="Agama">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Username</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Tanggal Lahir</label>
                <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Tanggal Lahir">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Tempat Lahir</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Tempat Lahir">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Alamat</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Alamat">
              </div>
              <div class="form-group">
                <label for="exampleInputPhoneNumber">Pendidikan</label>
                <input type="text" class="form-control" id="exampleInputPhoneNumber" aria-describedby="emailHelp" placeholder="Pendidikan">
              </div>
              <div class="form-group">
                <label for="exampleInputPhoneNumber">Informasi Lainnya</label>
                <input type="text" class="form-control" id="exampleInputPhoneNumber" aria-describedby="emailHelp" placeholder="Informasi Lainnya">
              </div>
            </div>
          </div>
              <br>
              <div class="row ">
                <div class="col d-flex justify-content-end"> <button type="submit" class="btn btn-warning m-1" routerLink="">Batal</button>
                  <button type="submit" class="btn btn-primary m-1">Simpan</button>
                </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
