<h4> Assesment</h4>
            <div class="mb-3">
                <label for="nik" class="form-label">Nama</label>
                <input type="text" class="form-control" id="nik" aria-describedby="nama">
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Jenis Kelamin</label>
                <input type="text" class="form-control" id="name">
            </div>
            <button type="button" class="btn btn-info mb-2" routerLink="/pages/case-detail/assesment-form">Tambah Assesment</button>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Tanggal Assesment</th>
                  <th scope="col">Rencana Intervensi</th>
                  <th scope="col">Keterangan</th>
                  <th scope="col">PIC</th>
                  <th scope="col">Dokumen</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>8 Maret 2023</td>
                  <td>Layanan Psikologi</td>
                  <td>Korban masih mengalami trauma</td>
                  <td>Tika Yesi Kristiani</td>
                  <td><button type="button" class="btn btn-primary btn-sm m-1">Download</button></td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>9 Maret 2023</td>
                  <td>Layanan Medis</td>
                  <td>Korban mengalami cedera fisik dan trauma mental</td>
                  <td>Dewi Al Wahid</td>
                  <td><button type="button" class="btn btn-primary btn-sm m-1">Download</button></td>
                </tr>
              </tbody>
            </table>