<h4> Intervensi</h4>
<div class="mb-3">
    <label for="nik" class="form-label">Nama</label>
    <input type="text" class="form-control" id="nik" aria-describedby="nama">
</div>
<div class="mb-3">
    <label for="name" class="form-label">Jenis Kelamin</label>
    <input type="text" class="form-control" id="name">
</div>
<div class="mb-3">
    <label for="name" class="form-label">Rencana Intervensi</label>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Layanan Psikologi
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked">
            Bantuan Hukum
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked">
            Layanan Medis
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked">
            Pemenuhan Hak Anak
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked">
            Pemberdayaan Perempuan
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
        <label class="form-check-label" for="flexCheckChecked">
            Rumah Aman
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
        <label class="form-check-label" for="flexCheckChecked">
            Mediasi
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
        <label class="form-check-label" for="flexCheckChecked">
            Lainnya
        </label>
    </div>
</div>

<div class="mt-5 mb-3">
    <label for="nik" class="form-label">Tanggal Intervensi</label>
    <input type="date" class="form-control" id="nik" aria-describedby="nama">
</div>
<div class="mb-3">
    <label for="name" class="form-label">Jenis Intervensi</label>
    <input type="text" class="form-control" id="name">
</div>
<div class="mb-3">
    <label for="name" class="form-label">Tindakan</label>
    <input type="text" class="form-control" id="name">
</div>
<div class="mb-3">
    <label for="nik" class="form-label">Keterangan</label>
    <input type="text" class="form-control" id="nik" aria-describedby="nama">
</div>
<div class="mb-3">
    <label for="name" class="form-label">PIC</label>
    <input type="text" class="form-control" id="name">
</div>
<div class="mb-3">
    <label for="formFile" class="form-label">Dokumen </label>
    <input class="form-control" type="file" id="formFile">
</div>
<div class="row">
    <div class="col d-flex justify-content-end">
        <button type="button" class="btn btn-warning m-1" routerLink="/pages/case-detail/intervensi-list">Batal</button>
        <button type="submit" class="btn btn-primary m-1"
            routerLink="/pages/case-detail/intervensi-list">Simpan</button>
    </div>
</div>