<div class="containe-fluid">
    <h4 class="mt-3">
        Profil
    </h4>
<form>
    <div class="row">
      <div class="col">
    <div class="form-group">
      <label for="exampleInputfullname">Nama Lengkap</label>
      <input type="text" class="form-control" id="exampleInputfullname" aria-describedby="emailHelp" placeholder="Dewi Tika Nur Azizul">
    </div>
    <div class="form-group">
      <label for="exampleInputNIK">NIK</label>
      <input type="number" class="form-control" id="exampleInputNIK" aria-describedby="emailHelp" placeholder="1997829388990991">
    </div>
    <div class="form-group">
      <label for="exampleInputPhoneNumber">Nomor Telephone</label>
      <input type="number" class="form-control" id="exampleInputPhoneNumber" aria-describedby="emailHelp" placeholder="082372838990">
    </div>
    <div class="form-group">
      <label for="exampleInputPhoneNumber">Email</label>
      <input type="email" class="form-control" id="exampleInputPhoneNumber" aria-describedby="emailHelp" placeholder="detiaz@gmail.com">
    </div>
    <div class="form-group">
      <label for="exampleInputPhoneNumber">Agama</label>
      <input type="text" class="form-control" id="exampleInputPhoneNumber" aria-describedby="emailHelp" placeholder="Islam">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Username</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="detiaz">
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="xxxxxxxxxx">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Tanggal Lahir</label>
      <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="27 Oktober 1995">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Tempat Lahir</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Jakarta">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Alamat</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Jl H Dahlan No 17, Jakarta Selatan">
    </div>
    <div class="form-group">
      <label for="exampleInputPhoneNumber">Pendidikan</label>
      <input type="text" class="form-control" id="exampleInputPhoneNumber" aria-describedby="emailHelp" placeholder="Sarjana">
    </div>
    <div class="form-group">
      <label for="exampleInputPhoneNumber">Informasi Lainnya</label>
      <input type="text" class="form-control" id="exampleInputPhoneNumber" aria-describedby="emailHelp" placeholder="-">
    </div>
  </div>
</div>
    <br>
    <div class="row ">
      <div class="col d-flex justify-content-end">
        <button type="submit" class="btn btn-primary m-1" (click)="changeProfile()">Ubah</button>
      </div>
  </div>
  </form>
</div>