<h4 class="mt-3">
    Daftar Pegawai
    </h4>
    <div class="row">
      <div class="col"><button type="button" class="btn btn-info mt-3 mb-2" routerLink="/pages/user-form">Tambah Pegawai</button></div>
      <div class="col-3">
      <form class="form-inline m-0">
        <div class="row">
          <div class="col">
        <input class="form-control m-0" type="search" placeholder="Cari..." aria-label="Search">
      </div>
      <div class="col">
        <button class="btn btn-outline-success m-0" type="submit">Cari</button>
      </div>
      </div>
      </form>
    </div>
    </div>
    
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">NIP</th>
          <th scope="col">Nama</th>
          <th scope="col">Jenis Kelamin</th>
          <th scope="col">Alamat</th>
          <th scope="col">Jabatan</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>2402007021</td>
          <td>Tika Yesi Kristiani</td>
          <td>Perempuan</td>
          <td>Jl H Dahlan No 75 Jakarta Selatan</td>
          <td>Admin</td>
          <td>
            <button class="btn btn-warning m-1">Ubah</button>
            <button class="btn btn-danger m-1">Hapus</button>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>2402006523</td>
          <td>Azizul Al Wahid</td>
          <td>Laki-laki</td>
          <td>Jl Kedondong No 24 Jawa Timur</td>
          <td>Admin</td>
          <td>
            <button class="btn btn-warning m-1">Ubah</button>
            <button class="btn btn-danger m-1">Hapus</button>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>2401994972</td>
          <td>Dewi Mustika Sari</td>
          <td>Perempuan</td>
          <td>Jl Dahlia No 5 Bogor Raya</td>
          <td>Admin</td>
          <td>
            <button class="btn btn-warning m-1">Ubah</button>
            <button class="btn btn-danger m-1">Hapus</button>
          </td>
        </tr>
      </tbody>
    </table>