<div class="container">
  <div class="alert alert-primary mt-3" role="alert">
    <h4 class="alert-heading">Pengumuman!</h4>
    <p>Hari Libur Nyepi.</p>
    <hr>
    <p class="mb-0">Dalam rangka menghormati Hari Raya Nyepi, kami ingin memberitahukan bahwa kantor akan tutup pada tanggal 14 Maret 2023. Selama hari tersebut, tidak ada aktivitas yang akan dilakukan di kantor dan akan kembali beroperasi seperti biasa pada hari berikutnya.</p>
  </div>

<div class="container">
<div class="row d-flex justify-content-between">
  <div class="card" style="width: 18rem;">
    <h5 class="card-header">Jumlah Kasus</h5>
    <div class="card-body">
      <h5 class="card-title">52</h5>
    </div>
  </div>
  
  <div class="card" style="width: 18rem;">
    <h5 class="card-header">Sedang Ditangani</h5>
    <div class="card-body">
      <h5 class="card-title">12</h5>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <h5 class="card-header">Terminasi</h5>
    <div class="card-body">
      <h5 class="card-title">42</h5>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <h5 class="card-header">Bukan Kewenangan</h5>
    <div class="card-body">
      <h5 class="card-title">2</h5>
    </div>
  </div>
</div>

</div>

<div class="card mt-3 mb-3">
  <div class="card-body">
    <h4>
      Progress Pengaduan
      </h4>
<div class="progress m-2">
  <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="progress m-2">
  <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="progress m-2">
  <div class="progress-bar bg-info" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="progress m-2">
  <div class="progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>
  </div>
</div>

<div class="card">
<div class="card-body">
<h4>
Laporan Masuk
</h4>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">No Kasus</th>
          <th scope="col">Nama Kasus</th>
          <th scope="col">Tanggal Pengaduan</th>
          <th scope="col">Status Kasus</th>
          <th scope="col">Penanggung Jawab</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>PPA001</td>
      <td>KDRT</td>
      <td>5 Maret 2023</td>
      <td>Sudah Ditangani</td>
      <td>Azizul Al Wahid</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>PPA002</td>
      <td>Kekerasan Seksual</td>
      <td>11 Maret 2023</td>
      <td>Sedang Ditangani</td>
      <td>Dewi Mustika Sari</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>PPA003</td>
      <td>Penyiksaan Anak dibawah umur</td>
      <td>12 Maret 2023</td>
      <td>Belum DItangani</td>
      <td>Tika Yesi Kristiani</td>
    </tr>
  </tbody>
</table>
</div>
</div>

</div>