<div class="container">
  <div class="alert alert-primary mt-3" role="alert">
    <h4 class="alert-heading">Pengumuman!</h4>
    <p>Hari Pancasila.</p>
    <hr>
    <p class="mb-0">Dalam rangka memperingati Hari Pancasila yang jatuh pada tanggal 1 Juni, kami dengan sukacita memberitahukan bahwa perusahaan kami akan menyelenggarakan upacara menyambut Hari Pancasila sebelum libur dilaksanakan.
      Kami mengingatkan agar seluruh karyawan hadir tepat waktu dan berpakaian rapi sesuai dengan ketentuan yang berlaku. Kita juga tetap memperhatikan protokol kesehatan yang telah ditetapkan, seperti penggunaan masker, jaga jarak, serta mencuci tangan dengan rutin.

Setelah upacara selesai, perusahaan kami memberikan libur kepada seluruh karyawan sebagai momen untuk merayakan Hari Pancasila dan merefleksikan nilai-nilai Pancasila dalam kehidupan sehari-hari. 
    </p>
  </div>

<div class="container">
<div class="row d-flex justify-content-between">
  <div class="card" style="width: 18rem;">
    <h5 class="card-header">Jumlah Kasus</h5>
    <div class="card-body">
      <h5 class="card-title">143</h5>
    </div>
  </div>
  
  <div class="card" style="width: 18rem;">
    <h5 class="card-header">Sedang Ditangani</h5>
    <div class="card-body">
      <h5 class="card-title">96</h5>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <h5 class="card-header">Terminasi</h5>
    <div class="card-body">
      <h5 class="card-title">35</h5>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <h5 class="card-header">Bukan Kewenangan</h5>
    <div class="card-body">
      <h5 class="card-title">12</h5>
    </div>
  </div>
</div>

</div>

<div class="card mt-3 mb-3">
  <div class="card-body">
    <h4>
      Kasus yang sedang ditangani
      </h4>
      
<div class="progress m-2">
  <div class="col-1">  <small>Agnis</small></div>

  <div class="progress-bar bg-info" role="progressbar" style="width: 59%" aria-valuenow="59" aria-valuemin="0" aria-valuemax="100">59</div>
</div>

<div class="progress m-2">
  <div class="col-1">  <small>Ajeng</small> </div>
  <div class="progress-bar bg-info" role="progressbar" style="width: 18%" aria-valuenow="18" aria-valuemin="0" aria-valuemax="100">18</div>
</div>

<div class="progress m-2">
  <div class="col-1"> <small>Fajar</small> </div>
  <div class="progress-bar bg-info" role="progressbar" style="width: 13%" aria-valuenow="13" aria-valuemin="0" aria-valuemax="100">13</div>
</div>

<div class="progress m-2">
  <div class="col-1"> <small>Anis</small></div>
  <div class="progress-bar bg-info" role="progressbar" style="width: 6%" aria-valuenow="6" aria-valuemin="0" aria-valuemax="100">6</div>
</div>
  </div>
</div>

<div class="card">
<div class="card-body">
<h4>
Laporan Masuk
</h4>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">No Kasus</th>
          <th scope="col">Nama Kasus</th>
          <th scope="col">Tanggal Pengaduan</th>
          <th scope="col">Status Kasus</th>
          <th scope="col">Penanggung Jawab</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>PPA001</td>
      <td>KDRT</td>
      <td>5 Maret 2023</td>
      <td>Sudah Ditangani</td>
      <td>Azizul Al Wahid</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>PPA002</td>
      <td>Kekerasan Seksual</td>
      <td>11 Maret 2023</td>
      <td>Sedang Ditangani</td>
      <td>Dewi Mustika Sari</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>PPA003</td>
      <td>Penyiksaan Anak dibawah umur</td>
      <td>12 Maret 2023</td>
      <td>Belum DItangani</td>
      <td>Tika Yesi Kristiani</td>
    </tr>
  </tbody>
</table>
</div>
</div>

</div>