<h4> Terminasi</h4>
            <div class="mb-3">
                <label for="nik" class="form-label">Nama</label>
                <input type="text" class="form-control" id="nik" aria-describedby="nama">
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Jenis Kelamin</label>
                <input type="text" class="form-control" id="name">
            </div>

            <div class="mt-5 mb-3">
                <label for="nik" class="form-label">Tanggal Terminasi</label>
                <input type="date" class="form-control" id="nik" aria-describedby="nama">
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Terminasi Layanan</label>
                <input type="text" class="form-control" id="name">
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Terminasi Kasus</label>
                <input type="text" class="form-control" id="name">
            </div>
            <div class="mb-3">
                <label for="nik" class="form-label">Keterangan</label>
                <input type="text" class="form-control" id="nik" aria-describedby="nama">
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">PIC</label>
                <input type="text" class="form-control" id="name">
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">Dokumen </label>
                <input class="form-control" type="file" id="formFile">
              </div>
              <div class="row">
                <div class="col d-flex justify-content-end">
                  <button type="button" class="btn btn-warning m-1" routerLink="/pages/case-detail/terminasi-list">Batal</button>
                  <button type="submit" class="btn btn-primary m-1"routerLink="/pages/case-detail/terminasi-list">Simpan</button>
                </div>
              </div>
            

            