<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">NIK</th>
        <th scope="col">Nama</th>
        <th scope="col">Jenis Kelamin</th>
        <th scope="col">Usia</th>
        <th scope="col">Intervensi</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>1699092333223312</td>
        <td>Briana Dewi</td>
        <td>Perempuan</td>
        <td>27</td>
        <td>
          <button type="button" class="btn btn-info btn-sm m-1" routerLink="/pages/case-detail/intervensi-list" >Detail</button>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>1699092333223312</td>
        <td>Siti Kalevi</td>
        <td>Perempuan</td>
        <td>9</td>
        <td>
          <button type="button" class="btn btn-info btn-sm m-1" routerLink="/pages/case-detail/intervensi-list" >Detail</button>
        </td>
      </tr>
    </tbody>
  </table>